<div class="container">
  <div class="row title-container">
    <div class="col-6">
      <h1 class="big-title">
        <mat-icon class="title-icon">inventory_2</mat-icon>Stock
      </h1>
    </div>
    <div class="btn-container col-6">
      <button mat-button class="restock-btn" (click)="openRestockDialog()">
        Re-stock
      </button>
    </div>
  </div>

  <!-- cards -->
  <div class="cards row">
    <div class="col-md-4">
      <div class="card">
        <div>Sweat Shirts</div>
        <div class="card-icon-container">
          <mat-icon class="card-icon" svgIcon="hoody"></mat-icon>
        </div>
        <div>{{ getCount(stock, "sweat") }}</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div>T-shirts</div>
        <div class="card-icon-container">
          <mat-icon class="card-icon" svgIcon="shirt"></mat-icon>
        </div>
        <div>{{ getCount(stock, "tshirt") }}</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div>Mugs</div>
        <div class="card-icon-container">
          <mat-icon class="card-icon" svgIcon="mug"></mat-icon>
        </div>
        <div>{{ getCount(stock, "mug") }}</div>
      </div>
    </div>
  </div>
  <hr />
  <h1>Stock details :</h1>
  <!-- sweats expantion -->
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title
        ><mat-icon class="panel-title-icon" svgIcon="hoody"></mat-icon>Sweat
        shirts</mat-panel-title
      >
    </mat-expansion-panel-header>
    <div class="color-section" *ngFor="let color of sweatColors">
      <span class="color-title" [ngStyle]="colorer(color)">{{
        capitalCase(color)
      }}</span>
      <div class="sizes" [ngStyle]="colorer(color)">
        <div class="row">
          <div *ngFor="let size of sizes" class="col-md-2 col-4 data">
            {{ size }} : {{ getCount(stock, "sweat", color, size) }}
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <!-- tshirts expantion -->
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title
        ><mat-icon class="panel-title-icon" svgIcon="shirt"></mat-icon
        >T-shirts</mat-panel-title
      >
    </mat-expansion-panel-header>
    <div class="color-section" *ngFor="let color of tshirtColors">
      <span class="color-title" [ngStyle]="colorer(color)">{{
        capitalCase(color)
      }}</span>
      <div class="sizes" [ngStyle]="colorer(color)">
        <div class="row">
          <div *ngFor="let size of sizes" class="col-md-2 col-4 data">
            {{ size }} : {{ getCount(stock, "tshirt", color, size) }}
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <!-- mugs expantion -->
  <mat-expansion-panel class="mug-panel" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title
        ><mat-icon class="panel-title-icon" svgIcon="mug"></mat-icon
        >Mugs</mat-panel-title
      >
    </mat-expansion-panel-header>
    <div class="mugs-container">
      <div class="mug-card">
        <div>Shop</div>
        <div>{{ getCount(stock, "mug", "", "", "shop") }}</div>
      </div>
      <div class="mug-card">
        <div>Magic</div>
        <div>{{ getCount(stock, "mug", "", "", "magic") }}</div>
      </div>
      <div class="mug-card">
        <div>Thermos</div>
        <div>{{ getCount(stock, "mug", "", "", "thermos") }}</div>
      </div>
    </div>
  </mat-expansion-panel>
</div>
