<app-header (toggleMenu)="drawer.toggle()"></app-header>
<mat-sidenav-container autosize>
  <mat-sidenav
    #drawer
    [opened]="screenSize === 'xs' ? false : true"
    [mode]="screenSize === 'xs' ? 'over' : 'side'"
  >
    <mat-list>
      <mat-nav-list>
        <mat-list-item routerLink="admin/dashboard">
          <mat-icon matListIcon>store</mat-icon>
          <span>Dashboard</span>
        </mat-list-item>
        <mat-list-item routerLink="admin/stock">
          <mat-icon matListIcon>inventory_2</mat-icon>
          Stock
        </mat-list-item>
        <mat-list-item routerLink="admin/orders">
          <mat-icon matListIcon>shopping_cart</mat-icon>
          Orders
        </mat-list-item>
        <mat-list-item routerLink="admin/wallet">
          <mat-icon matListIcon>attach_money</mat-icon>
          Wallet
        </mat-list-item>
      </mat-nav-list>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content style="margin-top: 70px">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
