.title-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  .big-title {
    color: #212529;
    font-size: 34px;
    margin: 20px 0px;
    font-weight: 500;
    .title-icon {
      margin-right: 20px;
      transform: scale(1.5);
    }
  }
  .btn-container {
    display: flex;
    justify-content: end;
    .new-btn {
      background-color: #20c997;
      color: white;
      font-size: 18px;
      padding: 5px 30px;
      border-radius: 10px;
    }
  }
}
.active-orders-container {
  padding: 15px 15px 40px;
  min-width: 1100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 30px;
  .table-title {
    margin-left: 15px;
  }
  table {
    width: 100%;
    td,
    th {
      padding: 8px;
      text-align: center;
    }
    td.mat-cell:first-of-type {
      padding-left: 24px;
    }
    .mat-column-icon {
      width: 4%;
    }
    .mat-column-product {
      width: 14%;
    }
    .mat-column-color {
      width: 14%;
    }
    .mat-column-size {
      width: 10%;
    }
    .mat-column-logoDes {
      width: 14%;
    }
    .mat-column-price {
      width: 8%;
      font-weight: 500;
    }
    .mat-column-date {
      width: 12%;
    }
    .mat-column-status {
      width: 12%;
    }
    .mat-column-actions {
      width: 8%;
      .update-btn {
        background-color: #20c997;
        color: white;
      }
    }
  }
}
.status-chip {
  color: white;
  padding: 3px 15px;
  border-radius: 25px;
}
.pointer {
  cursor: pointer;
}
.orders-history-container {
  padding: 15px 15px 40px;
  min-width: 1100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 30px;
  .table-title {
    margin-left: 15px;
  }
  table {
    width: 100%;
    td,
    th {
      padding: 8px;
      text-align: center;
    }
    td.mat-cell:first-of-type {
      padding-left: 24px;
    }
    .mat-column-icon {
      width: 4%;
    }
    .mat-column-product {
      width: 16%;
    }
    .mat-column-color {
      width: 16%;
    }
    .mat-column-size {
      width: 12%;
    }
    .mat-column-logoDes {
      width: 14%;
    }
    .mat-column-price {
      width: 10%;
      font-weight: 500;
    }
    .mat-column-date {
      width: 14%;
    }
    .mat-column-status {
      width: 14%;
    }
  }
}
.no-orders {
  color: rgba(0, 0, 0, 0.54);
  font-size: 17px;
}
