h1,
.mat-dialog-content {
  text-align: center;
}
.title-icon {
  margin-bottom: 15px;
  transform: scale(2);
  color: rgba(0, 0, 0, 0.8);
}

.mat-dialog-actions {
  justify-content: space-around;
}
.yes-btn {
  background-color: #f44336;
  color: white;
}
