<div class="container">
  <h1 mat-dialog-title>Restock</h1>
  <!-- cards -->
  <h3>What products do you want to add to stock :</h3>
  <div class="cards row">
    <div class="col-md-4">
      <div
        (click)="chooseProduct('sweat')"
        [ngClass]="chosenProduct === 'sweat' ? 'selected-card' : 'card'"
      >
        <div>Sweat Shirt</div>
        <div class="card-icon-container">
          <mat-icon class="card-icon" svgIcon="sweat"></mat-icon>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div
        (click)="chooseProduct('tshirt')"
        [ngClass]="chosenProduct === 'tshirt' ? 'selected-card' : 'card'"
      >
        <div>T-shirt</div>
        <div class="card-icon-container">
          <mat-icon class="card-icon" svgIcon="shirt"></mat-icon>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div
        (click)="chooseProduct('mug')"
        [ngClass]="chosenProduct === 'mug' ? 'selected-card ' : 'card'"
      >
        <div>Mug</div>
        <div class="card-icon-container">
          <mat-icon class="card-icon" svgIcon="mug"></mat-icon>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="chosenProduct">
    <div class="row" style="margin-bottom: 15px">
      <div class="col-sm-6">
        <h3 class="options">Select the restock options :</h3>
      </div>
      <div class="col-sm-6 end">
        <button
          mat-button
          (click)="addAnotherProduct(chosenProduct)"
          class="add-btn"
        >
          Add Product
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="chosenProduct && chosenProduct !== 'mug'">
    <form [formGroup]="restockForm">
      <div class="row product-inputs-container">
        <!-- Color input -->
        <div class="col-sm-4 input-container">
          <mat-form-field appearance="outline">
            <mat-label>Color</mat-label>
            <mat-select formControlName="color">
              <mat-option
                class="option-container"
                *ngFor="
                  let color of chosenProduct === 'sweat'
                    ? sweatColors
                    : tshirtColors
                "
                [value]="color"
              >
                <span class="color-ball" [ngStyle]="colorer(color)"></span>
                {{ capitalCase(color) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-4 input-container">
          <!-- size input -->
          <mat-form-field appearance="outline">
            <mat-label>Size</mat-label>
            <mat-select formControlName="size">
              <mat-option
                class="option-container"
                *ngFor="let size of sizes"
                [value]="size"
              >
                {{ size }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-4 input-container">
          <!-- amount input -->
          <mat-form-field appearance="outline">
            <mat-label>Amount</mat-label>
            <input formControlName="amount" matInput type="number" />
          </mat-form-field>
        </div>
      </div>
      <div
        formArrayName="additionalProducts"
        *ngFor="let product of formArrayCtrl.controls; let i = index"
      >
        <div class="row product-inputs-container" [formGroupName]="i">
          <!-- Color input -->
          <div class="col-sm-4 input-container">
            <mat-form-field appearance="outline">
              <mat-label>Color</mat-label>
              <mat-select formControlName="color">
                <mat-option
                  class="option-container"
                  *ngFor="
                    let color of chosenProduct === 'sweat'
                      ? sweatColors
                      : tshirtColors
                  "
                  [value]="color"
                >
                  <span class="color-ball" [ngStyle]="colorer(color)"></span>
                  {{ capitalCase(color) }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4 input-container">
            <!-- size input -->
            <mat-form-field appearance="outline">
              <mat-label>Size</mat-label>
              <mat-select formControlName="size">
                <mat-option
                  class="option-container"
                  *ngFor="let size of sizes"
                  [value]="size"
                >
                  {{ size }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4 input-container">
            <!-- amount input -->
            <mat-form-field appearance="outline">
              <mat-label>Amount</mat-label>
              <input formControlName="amount" matInput type="number" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <h3 class="options">Total Restock price :</h3>
      <mat-form-field appearance="outline">
        <mat-label>Total Price</mat-label>
        <input type="number" matInput formControlName="totalPrice" />
      </mat-form-field>
    </form>
  </ng-container>
  <ng-container *ngIf="chosenProduct && chosenProduct === 'mug'">
    <form [formGroup]="restockMugsForm">
      <div class="row product-inputs-container">
        <div class="col-sm-6">
          <!-- Mug Type input -->
          <mat-form-field appearance="outline">
            <mat-label>Mug Type</mat-label>
            <mat-select formControlName="mugType">
              <mat-option
                class="option-container"
                *ngFor="let mugType of mugTypes"
                [value]="mugType"
              >
                {{ mugType }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <!-- Amount input -->
          <mat-form-field appearance="outline">
            <mat-label>Amount</mat-label>
            <input type="number" matInput formControlName="amount" />
          </mat-form-field>
        </div>
      </div>
      <div
        formArrayName="additionalProducts"
        *ngFor="let product of mugFormArrayCtrl.controls; let i = index"
      >
        <div class="row product-inputs-container" [formGroupName]="i">
          <div class="col-sm-6">
            <!-- Mug Type input -->
            <mat-form-field appearance="outline">
              <mat-label>Mug Type</mat-label>
              <mat-select formControlName="mugType">
                <mat-option
                  class="option-container"
                  *ngFor="let mugType of mugTypes"
                  [value]="mugType"
                >
                  {{ mugType }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <!-- Amount input -->
            <mat-form-field appearance="outline">
              <mat-label>Amount</mat-label>
              <input type="number" matInput formControlName="amount" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <h3 class="options">Total Restock price :</h3>

      <mat-form-field appearance="outline">
        <mat-label>Total Price</mat-label>
        <input type="number" matInput formControlName="totalPrice" />
      </mat-form-field>
    </form>
  </ng-container>

  <div mat-dialog-actions>
    <button
      class="cancel-btn"
      mat-button
      type="button"
      (click)="this.dialogRef.close()"
    >
      Cancel
    </button>
    <button
      class="add-btn"
      mat-button
      type="button"
      [mat-dialog-close]="
        chosenProduct === 'mug'
          ? { productType: chosenProduct, products: restockMugsForm.value }
          : {
              productType: chosenProduct,
              products: restockForm.value
            }
      "
      [disabled]="!(restockForm.valid || restockMugsForm.valid)"
    >
      Restock
    </button>
  </div>
</div>
